body{ 
background-image: url(http://i68.tinypic.com/30hpqgj.jpg), url(http://i64.tinypic.com/23lh5wy.jpg);
background-position:left top, right bottom;
background-repeat: no-repeat, repeat;
background-size: 700px,600px, auto;
}
p{ color:blue;}
h1{ color : purple; }
h2{ color : crimson; }
th {
font-family: 	Arial, Verdana, sans-serif;
    background-color: #4CAF50;
    color: white;   text-align: center;
    padding: 12px;
}
td {
font-family: 	Arial, Verdana, sans-serif;
font-size: 16px;
background-color: whitesmoke;
    color: red;
    text-align: center;
    padding: 12px;
}

